<% layout( 'layout' ) -%>

<div id="main">
	<div class="navigation">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="#divider">About</a></li>
			<li><a href="#favorites">Hobbies</a></li>
			<li><a href="#portfolio">My Portfolio</a></li>
			<li><a href="/todos">My Todos</a></li>
		</ul>
	</div>

	<h1>Hello name is < your name here /></h1>
	<h2>I'm kind of a cool guy (or gal)</h2>
	<h3>...and I really love to code!</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, tempora, ipsum quaerat optio debitis repellendus excepturi! Temporibus neque repellat minus eius dolore doloribus recusandae officia cupiditate deleniti quis? Non, quas.</p>
</div>

<div id="divider">
	<h2>I'm currently learning HTML - CSS - JavaScript</h2>
</div>

<div id="facts">
	<h2>3 Fun Facts About Me!</h2>
	<p>Fun fact number one</p>
	<p>Fun fact number two</p>
	<p>Fun fact number three</p>
</div>

<div id="favorites">
	<h2>Some of my favorite things</h2>
	<p>Favorite thing number one</p>
	<p>Favorite thing number two</p>
	<p>Favorite thing number three</p>
	<p>Favorite thing number four</p>
	<p>Favorite thing number five</p>
</div>

<div id="portfolio">
	<h2>My Portfolio</h2>
	<a href="http://yankees.com">
		<img src="https://pbs.twimg.com/profile_images/378800000612242014/f292c5837b3ded9efbed46b7137eb72e.jpeg" width="200">
	</a>
	<img src="http://nyogalleristny.files.wordpress.com/2014/01/nyk.gif" width="200">
	<img src="http://www.clickondetroit.com/image/view/-/8484150/medRes/2/-/maxh/360/maxw/640/-/c49sfy/-/Ny-Giants-Logo-jpg.jpg" width="200">
</div>

<div id="contact">
	<h2>Contact Me</h2>
	<p>Send me a message using the form below</p>
	<form action="">
		<input type="text">
		<input type="submit">
	</form>
</div>

<div id="social">
	<p>Follow me! <a href="http://twitter.com/yourTwitter">@yourTwitter</a></p>
</div>

<div id="footer">
	<p>Made in NYC with love at <a href="http://icodeny.org">I CODE NY</a></p>
</div>
