<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
      <%- body %>
    </div>
    
    <div class="footer">
      &#169; Code Crew, 2014
    </div>

  </body>
</html>